@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-open-sans: var(--font-open-sans);
}

@layer utilities {
    .font-dancing {
        font-family: var(--font-dancing-script);
        @apply text-5xl;
    }
}

:root {
}

@media (prefers-color-scheme: dark) {

}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.text-gradient {
    @apply text-transparent bg-linear-to-r from-purple-400 via-pink-500 to-red-500 bg-clip-text;
}

.vertically-center-absolute {
    @apply top-1/2 -translate-y-1/2;
}

.horizontally-center-absolute {
    @apply left-1/2 -translate-x-1/2;
}